fastapi==0.115.6
uvicorn[standard]==0.34.0
redis==5.2.1
clickhouse-driver==0.2.9
numpy==2.2.2
pandas==2.2.3
scipy==1.15.1
scikit-learn==1.6.1
lifelines==0.30.0
pydantic==2.10.5
python-dotenv==1.0.1
scalar-fastapi==1.0.3
